/assets
/config
/libraries
/logs
servers.dat
servers.dat.bak
servers.dat_old
tlauncher_profiles.json
usernamecache.json
usercache.json
/versions
launcher_profiles.json
/emotes
/crash-reports
/profileImage
/shaderpacks
*.txt
.curseclient
options.txt
/saves/New World3
